/* CSS HEX */
/* --lavender-blush: #ede3e4ff;
--blue-munsell: #62929eff;
--paynes-gray: #4a6d7cff;
--magnolia: #e7dfe8ff;
--outer-space: #475657ff; */

h1{
    display: flex;
    color:  #697270;
    font-weight: 600;
    font-size: 2rem;
    border-radius: 10px;
    justify-content: center;
    background-color:#62929eff;
}
.addhabit{
    color: #9BB6AF
}

.navbar {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
    overflow: hidden;
    position:fixed;
    top: 0;
    width:100%;
}