/* CSS HEX */
/* --lavender-blush: #ede3e4ff;
--blue-munsell: #62929eff;
--paynes-gray: #4a6d7cff;
--magnolia: #e7dfe8ff;
--outer-space: #475657ff; */

* {
	font-family: "Concert One", sans-serif;
}

h1{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: safe center;
    align-items: center;
    color:  #697270;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color:#ede3e4ff;
    margin-top:-3px;
    display:flex;
    flex-direction:row;
    justify-content: safe center;
    align-items: center;

}

.head div a h1:hover {
	color: #111112 ;
    cursor:pointer;
}

#addhabit{
    color: #9BB6AF
}

.head {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
    /* overflow: hidden;
    position:fixed;
    top: 0;
    width:100%; */
}

.habits-nav {
	display: grid;
	grid-template: 1fr / repeat(2, 1fr);
	background-color: #ede3e4ff;
}

.habits-list {
	display:flex;
    flex-direction:row;
    justify-content: safe center;
    align-items: center;
}

.habits-nav div {
	display:flex;
    flex-direction:row;
    justify-content: safe center;
    align-items: center;
	padding: 5px;
	color:  #697270;
    font-size: 1.3rem;
}

.habits-nav div a:hover {
	color: #111112 ;
    cursor:pointer;
}