/* CSS HEX */
/* --lavender-blush: #ede3e4ff;
--blue-munsell: #62929eff;
--paynes-gray: #4a6d7cff;
--magnolia: #e7dfe8ff;
--outer-space: #475657ff; */

h1{
    display: flex;
    color:  #697270;
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
    justify-content: center;
}
.addhabit{
    color: #9BB6AF
}

.navbar {
	display: grid;
	grid-template: 1fr / repeat(3, 1fr);
}